#pendingS{
  animation: pending 0.4s linear;
  transition: 0.4s all;
}

#completedS{
  animation: completed 0.4s linear;
  transition: 0.4s all;
}

@keyframes pending {
  0%{
      transform: translateX(-50%);
  }
  100%{
      transform: translateX(0%);
  }
}
@keyframes completed {
  0%{
      transform: translateX(50%);
  }
  100%{
      transform: translateX(0%);
  }
}

table{
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
  /* table-layout: fixed; */
}

td{
  padding-left: 60px;
}

.active{
  color: black;
  background-color: #5270b02d;
}

body{
  /* background-color: #5270b02d; */
}

@media (max-width: 768px) {
  td{
    padding-left: 30px;
  }
}