#pendingS{
  animation: pending 0.4s linear;
  transition: 0.4s all;
}

#completedS{
  animation: completed 0.4s linear;
  transition: 0.4s all;
}

@keyframes pending {
  0%{
      transform: translateX(-50%);
  }
  100%{
      transform: translateX(0%);
  }
}
@keyframes completed {
  0%{
      transform: translateX(50%);
  }
  100%{
      transform: translateX(0%);
  }
}

/* .move-right{
  animation: moveright 1s linear;
}

@keyframes moveright {
  0%{
    width: 50%;
  }
  10%{
    width: 100%;
  }
  100%{
    width: 50%;
  }
}
.move-left{
  animation: moveleft 1s linear;
}

@keyframes moveleft {
  0%{
    width: 50%;
  }
  40%{
    width: 200%;
  }
  100%{
    width: 50%;
  }
} */

table{
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}
thead{
  padding-left: 20px;
}
td{
  padding-left: 60px;
}

.active{
  color: black;
  background-color: #5270b02d;
}
